.normal_card_container {
    width: 100%;
    min-height: 100px;
    height: auto;
    display: flex;
    text-align: left;
    margin-bottom: 30px;
    color: rgb(43, 42, 42);
    cursor: pointer;
    border-top: 1px solid rgb(219, 215, 215);
    padding-top: 10px;
    /* background-color: red; */
}
.normal_card_container.Dark{
    color: rgb(226, 225, 225);
    border-top: 1px solid rgb(26, 26, 26);
}
.normal_card_image {
    width: 30%;
    height: 100px;
    padding-left: 15px;
    box-sizing: border-box;
}
.normal_card_image img {
    width: 100%;
    height: 100%;
    max-height: 200px;
}
.normal_card_details {
    width: 70%;
    flex-grow: 1;
    /* padding-bottom: 30px;    */
    box-sizing: border-box;
}
.normal_card_container .normal_card_details p {
    color: rgb(43, 42, 42);
    font-size: .8rem;
    margin: 0;
}
.normal_card_container.Dark .normal_card_details p {
    color: rgb(116, 114, 114);
    font-size: .8rem;
    margin: 0;
}
.normal_card_author {
    display: flex;
    /* margin-bottom: 10px; */
    margin-bottom: 20px;
    align-items: center;
}
.normal_card_container .normal_card_author:hover {
    background-color: #f7f1e6;
    border-radius: 20px;
}
.normal_card_container.Dark .normal_card_author:hover {
    background-color: #1c1f23c9;
}
.normal_card_author p {
    color: rgb(155, 153, 153);
    font-weight: 600;
    margin-top: 3px;
}
.normal_card_author_dp {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100px;
}
.normal_card_author_dp img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.normal_card_bookmark{
    margin-left: 10px;
    font-size: 1rem;
    color: #FFC038;
}