.Blog{
    min-height: 100vh;
    height: auto;
    padding-top: 130px;
    padding-bottom: 200px;
    background-color: rgb(255, 255, 255);
}
.Blog.Dark{
    /* background-color: #0F111A; */
    background-color: #090B10;
}
.publish{
    background-color: #008c8c;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px 15px;
    position: fixed;
    bottom: 27px;
    right: 70px;
    font-size: 1.2rem;
    font-weight: bolder;
    outline: none;
}
.publish:disabled{
    background-color: #9c9c9b;
    border: 1px solid rgb(88, 88, 88);
    cursor: not-allowed;
}
.storyarea{
    height: max-content;
    width: 90%;
    margin: auto;
    /* background-color: #0B0F10; */
}
