.App {
  text-align: center;
  font-family: 'Mulish', sans-serif;
  background: #ffffff ; 
  min-height: 100vh;
}
.App.Dark{
  background: #090B10 ; 
}
.centerLoading{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

body::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #0B0F10 ;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FFC038;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
   border: 1px solid #FFC038; /* creates padding around scroll thumb */
}
